nav.nav{
    background-color: lightgreen;
}
.quienes{
    background-color: orange;
}
h1.museo{
    background-color:lightgoldenrodyellow;
}
.final{
    background-color:blue;
    text-align: center;
    color: blue;
}
.ama{
    background-color: yellow;
    text-align: center;
}